# Web Framework & Server
fastapi
uvicorn

# HTTP Clients
httpx
requests

# Environment Variables
python-dotenv

# Database
supabase

# LangChain Core
langchain
langchain-core
langchain-community

# LangChain Google Gemini Integration
langchain-google-genai
google-generativeai

# Geocoding
geopy

# ML & Data
pandas
numpy
scikit-learn==1.8.0
joblib

# Web Scraping
selenium
beautifulsoup4
webdriver-manager

# Chainlit for UI
chainlit

# machine learning model
xgboost

# encoding
chardet