# Web Framework & Server
fastapi
uvicorn
ddgs
pillow

# HTTP Clients
httpx
requests

# Environment Variables
python-dotenv

# Database & storage
supabase
google-cloud-storage

# LangChain Core
langchain
langchain-core
langchain-community
langchain-classic

# LangChain Google Gemini Integration
langchain-google-genai
google-generativeai

# Geocoding
geopy

# ML & Data
pandas
numpy
scikit-learn==1.8.0
joblib
matplotlib
seaborn

# Web Scraping
selenium
beautifulsoup4
webdriver-manager
playwright

# Chainlit for UI
chainlit

# machine learning model
xgboost
prophet

# encoding
chardet